<div>

  <h1>{{title}}
    <!-- {{}}Angular's interpolation binding syntax -->
  </h1>

  <!-- The routerLink is the selector for the RouterLink directive  -->
  <!--  that turns user clicks into router navigations. It's another of the public directives in the RouterModule -->
  <nav>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/items">Items</a>
  </nav>

  <!--
     The RouterOutlet is one of the router directives that became available to the AppComponent because
     AppModule imports AppRoutingModule which exported RouterModule. The ng generate command you ran at the
     start of this tutorial added this import because of the --module=app flag. If you manually created app-routing.module.ts 
     or used a tool other than the CLI to do so, you'll need to import AppRoutingModule into app.module.ts
     and add it to the imports array of the NgModule.
     -->

  <router-outlet></router-outlet>

  <app-messages></app-messages>

</div>